nav {
  background-color: rgba(0, 0, 0, 0.2);
  width: max-content;
  z-index: 1;
  position: fixed;
  bottom: 3%;
  right: 3%;
  display: flex;
  flex-direction: block;
  gap: 30px;
  padding: 15px 20px;
  border-radius: 25px;
}

nav a {
  color: var(--color-light);
  border-radius: 50%;
  padding: 3px;
  display: flex;
}

nav a.active {
  background-color: var(--color-bg);
  color: var(--color-white);
}
